<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball_icon.ico' %}" type="image/x-icon">
</head>
<body>
    <h2>Registrarse</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="password" name="password2" placeholder="Repetir contraseña" required>
        <button type="submit">Registrarse</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <a href="{% url 'login' %}">Iniciar sesión</a>
</body>
</html>
